@model IEnumerable<User>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="2" class="text-center">Users dose not exist</td>
            </tr>
        }
        else
        {
            foreach (User user in Model)
            {
                <tr>
                    <td>
                        @user.UserName
                    </td>
                    <td>
                        @user.Email
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
<a class="btn btn-primary" asp-action="Register" asp-controller="Account">Create</a>
